.rm-module-stickers-sticker-stickers_new {
    color: rgb(255, 255, 255);
    background: rgb(14, 144, 23);
}

.rm-product-stickers-stickers_new {
    color: rgb(255, 255, 255);
    background: rgb(14, 144, 23);
}

.rm-module-stickers-sticker-stickers_ends {
    color: rgb(255, 255, 255);
    background: rgb(230, 12, 12);
}

.rm-product-stickers-stickers_ends {
    color: rgb(255, 255, 255);
    background: rgb(230, 12, 12);
}

.rm-module-stickers-sticker-stickers_special {
    color: rgb(255, 255, 255);
    background: rgb(0, 120, 255);
}

.rm-product-stickers-stickers_special {
    color: rgb(255, 255, 255);
    background: rgb(0, 120, 255);
}